<li>
  <h4>
    <%= order_item.product.name %>
  </h4>
  <div>
    <%= order_item.product.description %>
    <div>Price: <%= order_item.product.price %> </div>
    <% if checkout %>
      <%= link_to 'delete', order_item_path(order_item), method: :delete %>
    <% end %>
  </div>
</li>
