<div class='col-md-4'>
  <h3><%= product.name %></h3>
  <div>
    <div>
      <img class='img-thumbnail' src='http://placehold.it/400x300'></img>
    </div>
    <div>
      <%= product.description %>
    </div>
    <div>Price: <%= product.price%> </div>
  </div>
  <a class="btn btn-success" href="#" role="button">Order »</a>
</div>
